<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorAppExactlyWebAssembly.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes /> @* либо так для всех смотри Audio.razor <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)"/>*@
    <script src="_framework/blazor.web.js"></script>
    <script src="js/dist/browser/signalr.min.js"></script>
    <script src="js/audioClient.js"></script>
    <script src="js/forOpusMinJs/recorder.min.js"></script>
    @* <script src="js/audioClientOpus.js"></script> *@
</body>

</html>
