@page "/audioApp"
@rendermode InteractiveWebAssembly

@using BlazorAppExactlyWebAssembly.Client.Pages.Internal;
@* @using Microsoft.AspNetCore.SignalR.Client *@

@inject ServerAPI _api
@* @inject NavigationManager Navigation
@inject IJSRuntime JS *@

<dev>@(Program._dbg)</dev>

@* <dev>@(ServerAPI.BuildAndStartConnection_test())</dev> *@

<button class="btn btn-primary" @onclick="SoundStreaming">@(isActive ? "Stop translate" : "Start translate")</button>

@code {
    private bool isActive = false;

    // protected override async Task OnInitializedAsync()
    // {
    //     try
    //     {
    //         await _api.StartConnection();
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"OnInitializedAsync не прошел: {ex.Message}");
    //     }
    // }



    private async Task SoundStreaming()
    {
        if (_api is not null)
        {
            if (isActive is false)
            {
                isActive = true;
                await _api.StartStreamingCommand();
            }
            else
            {
                await _api.StopStreamingCommand();
            }
            isActive = !isActive;
        }
        return;
    }
}