@page "/audiohub"

@inject NavigationManager Navigation
@inject IJSRuntime JS
@using Microsoft.AspNetCore.SignalR.Client

<button class="btn btn-primary" @onclick="SoundStreaming">@(isActive ? "Stop translate" : "Start translate")</button>

@code {
    private bool isActive = false;

    private HubConnection? _connection;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _connection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/audiohub"))
            .Build();

            Console.WriteLine($"connection before in Audio.razor {_connection.State}");
            await _connection.StartAsync();
            Console.WriteLine($"connection after in Audio.razor {_connection.State}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"OnInitializedAsync: {ex.Message}");
            await Task.Delay(1000);
        }

    }

    private async Task SoundStreaming()
    {
        if (_connection is not null)
        {
            string myConnectionId = await _connection.InvokeAsync<string>("GetMyConnectionId");

            Console.WriteLine("connection in Audio.razor SoundStreaming {_connection.State}");

            if (isActive is false)
            {
                isActive = true;
                await _connection.SendAsync("StartStreamingCommand", myConnectionId);
            }
            else
            {
                await _connection.SendAsync("StopStreamingCommand", myConnectionId);
            }
            isActive = !isActive;
        }
        return;
    }
}